* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body styling*/
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #93cecb;
    background-color: #333333;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Header and Navigation*/
header {
    background-color: #333333;
    color: #fff;
    padding: 1em;
    width: 100%;
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1em;
}

nav ul a {
    color: #bd2727;
    text-decoration: none;
    padding: 0.5em 1em;
    font-weight: bold;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul a:hover {
    background-color: #fff;
}

/* section styling */
section {
    margin: 2em;
    width: 80%;
    max-width: 800px;
    background-color: #333030;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 14px 14px 8px rgba(0, 0, 0, 1);
}

section h2 {
    color: #ddda2a;
    margin-bottom: 1em;
}

section p {
    color: white;
    padding-bottom: 2em;
}

section b
{
    color: #0fcdd9;
}

.sectImg
{

    align-content: center;
}

.sectImg img
{
    margin-left: 2em;
    width: 90%;
    box-shadow: #b63f3f 3px 3px 3px;
}

#bSection {
    background-color: #333333;
    color: #fff;
    box-shadow: 0 0 0 rgba(0, 0, 0, 1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Contact Me Section */
#contact {

    width: 80%;
    max-width: 800px;
    background-color: #333;
    box-shadow: none;
    padding: 1.5em;
}

#contact h2 {
    color: #ddda2a;
    margin-bottom: 1em;
}

/* projects */
.projectName {
    color: rgb(202, 53, 50);
    letter-spacing: 1px;
}

.projectName a {
    text-decoration: none;
    color: inherit;
}

.projectName a:hover {
    color: azure;
}

footer {
    background-color: #333;
    text-align: center;
    color: #fff;
}

.linkedin-icon
{
    background: linear-gradient(
            -135deg,
            black 0%,
            black 33%,
            red 33%,
            red 66%,
            Gold 66%,
            Gold 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.tumblr-icon
{
    background: linear-gradient(
    135deg,
    black 0%,
    black 33%,
    red 33%,
    red 66%,
    Gold 66%,
    Gold 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

/* bold controls */
.programBold
{
    color: #d2c41b;
}

.languageBold
{
    color: #cb1111;
}