/*body styling*/
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #93cecb;
    background-color: #333333;
}

/* Header Controls */
h1
{
    font-family: 'Times New Roman', Times, serif;
    color: #d2c41b;
    text-align: center;
}

hr
{
    border: none;
    border-top: 2px solid #000000;
    width: 80%;
    box-shadow: 0 0 8px 1px black;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Details and Summary Style */
details
{

}

summary
{

}

.TitleDetails
{
    margin-left: 1em;
    margin-bottom: 1.5em;
}

.TitleClass
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: bold;
    color: #ad0b0b;
}

/* Section Controls */
Section
{
    flex-wrap: wrap;
}

.SectTitle
{
    margin: inherit;
    width: 80%;
    max-width: 800px;
    background-color: #333030;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: white;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 14px 14px 9px rgba(0, 0, 0, 1);
}

/* p tags */
p
{

}

.CreditPos
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-left: 1em;

}

.CreditName
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: gold;
    margin-left: 4em;
}

/* Footer Controls */
footer
{
    bottom: 0;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 4em;
}